<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Administración</title>
		<style>
			body {
				font-family: "Roboto", sans-serif;
				color: #fff;
				margin: 0;
				padding: 0;
				background-color: #121212;
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		{% include 'menu.html' %}

		<h1>Web de discos</h1>
		<p>Parte de administración de la tienda</p>
		<a href="/">Volver a la parte publica</a>
	</body>
</html>
