<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			body {
				font-family: "Roboto", sans-serif;
				color: #fff;
				margin: 0;
				padding: 0;
				background-color: #121212;
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		{% include 'menu.html' %}
		<form
			action="/admin/guardar-disco-nuevo"
			method="post"
			enctype="multipart/form-data"
			style="
				display: flex;
				flex-direction: column;
				max-width: 500px;
				margin: 0 auto;
				gap: 1em;
				padding: 2em;
				background-color: lightblue;
				border: 1px solid black;
				color: black;
			"
		>
			<label for="nombre">Nombre</label>
			<input type="text" name="nombre" id="nombre" required />
			<label for="artista">Artista</label>
			<input type="text" name="artista" id="artista" required />
			<label for="genero">Genero</label>
			<input type="text" name="genero" id="genero" required />
			<label for="precio">Precio</label>
			<input type="number" name="precio" id="precio" required />
			<label for="discografica">Discográfica</label>
			<input type="text" name="discografica" id="discografica" required />
			<label for="fecha">fecha</label>
			<input type="date" name="fecha" id="fecha" required />
			<label for="foto">Portada</label>
			<input
				type="file"
				name="foto"
				id="foto"
				accept=".jpg, .jpeg, .png"
				required
			/>
			<script>
				document
					.getElementById("foto")
					.addEventListener("change", function () {
						const file = this.files[0];
						const maxSize = 1048576; // 1MB in bytes

						if (file.size > maxSize) {
							alert(
								"File size exceeds the limit of 5MB. Please choose a smaller file."
							);
							this.value = ""; // Clear the selected file
						}
					});
			</script>
			<input type="submit" value="Guardar" />
		</form>
	</body>
</html>
