<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% include 'menu.html' %}
		<form action="/admin/guardar-disco-nuevo" method="post" style="display: flex; flex-direction: column; max-width: 500px; margin: 0 auto; gap: 1em; padding: 2em; background-color: lightblue; border: 1px solid black">
			<label for="nombre">Nombre</label>
			<input type="text" name="nombre" id="nombre" />
			<label for="artista">Artista</label>
			<input type="text" name="artista" id="artista" />
			<label for="genero">Genero</label>
			<input type="text" name="genero" id="genero" />
			<label for="precio">Precio</label>
			<input type="number" name="precio" id="precio" />
			<label for="fecha">fecha</label>
			<input type="date" name="fecha" id="fecha" />
			<!-- <label for="portada">Portada</label>
			<input type="file" name="portada" id="portada" /> -->
			<input type="submit" value="Guardar" />
		</form>
	</body>
</html>
